# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes Virtuais (Venv)
venv/
.venv/
env/

# IDEs e Sistema Operacional
.vscode/
.idea/
Thumbs.db
.DS_Store

# Arquivos de dados locais (se houver)
*.csv
*.json
